parameters:
    bootstrap: vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function yaml_parse_file not found#'
        - '#PHPDoc tag @throws with type Psr#'